# Android Studio / IntelliJ
.idea/
*.iml
.gradle/
build/
local.properties

# Mac
.DS_Store

# Credenciales
.env
*.jpg 
fonts/ 
imagenes/ 
portafolio/ 

# Build outputs
LaEscenaFrontend/build/
LaEscenaFrontend/composeApp/build/
LaEscenaBackendKTOR/build/
LaEscenaBackendKTOR/.gradle/
**/.idea/
local.properties
